<div class="text-center"><h1>Words</h1>
	<table class="table table-striped">
		<thead>
      		<th class="text-center"><h4>Text</h4></th>
      		<th class="text-center"><h4>Letters</h4></th>  
			<th></th>
			<th></th>     
    		</thead>
    		<tbody>
      		<% @word.each do |item| %>
        		<tr>
          			<td>
					<a href="<%= "/dictionary/#{item.id}" %>">
						<%= item.text %>
  					</a>
				</td>
          			<td><%= item.letters %></td> 
				<td>
    					<a href="<%= "/dictionary/#{item.id}/edit" %>">
						Edit
					</a>
  				</td>  
				<td> 
            			<form action="<%= "/dictionary/#{item.id}" %>" method="post">
              			<input type="hidden" name="_method" value="delete" />
              			<input type="submit" value="Delete" />
            		</form>
          		</td>
     
        		</tr>
      		<% end %>
    		</tbody>
  	</table>
</div>